form{
    border: 1px  solid #932458;
    padding: 2rem;
}
form label{
    text-align: left;
}

.tipo_entrega{
    text-align: left;
    margin-top: 1rem;
}
.seleccion_pedidos,
.notas,
.direccion,
.nombre{
    padding-bottom: 1rem;
    margin-bottom: 0;
}

input[type="text"],
select,
textarea{
    width: 100%;
    padding: 1rem;
    margin: 1rem;

}
fieldset{
    border:none;
}

.check{
    
    display: grid;
    grid-template-columns: 1.5rem auto;
    gap: 0.5rem;
    margin-bottom: 1rem;
    
}


button[type="submit"]{
    width: 100%;
    background-color: rgb(155, 214, 207);
    color: black;
    padding: .5rem .5rem;
}


