* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Sansita", sans-serif;
}

.responsive img{
    width: 100%;
    height: auto;
    
}
h1 {
    text-align: center;
    margin: 1rem;
    
}
h2 {
    color:azure;
    padding: 1rem;
    margin-right: 1rem;
    display: inline-block;
    background-color: rgb(55, 154, 121);
    padding-right: 30%;
    
}
header{
    color: white;
    background-color: rgb(222, 113, 113);
    padding: 1rem;
    display: grid;
	padding: 10px;
    
}
section{
    text-align: center;
    padding: 1rem;
}

.lista1 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    margin: 1rem;
    background-color: whitesmoke;
    margin: 5%;
}

.lista2 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    margin: 1rem;
    background-color: whitesmoke;
    margin: 5%;
}

.data1 {
    display:contents;
    text-align: center;
    width: 100%;
}
.data2 {
    display:contents;
    text-align: center;
    width: 100%;
}
table{
    margin: 0 auto;
    
}
tr{
    text-align: right;
}
td{
    text-align: left;
    
}

footer {
    color: white;
    background-color: rgb(222, 113, 113);
    text-align: center;
    padding: 1rem;
}



